$search_bar_height: 64px;

$search-bar-colour: #e1b7e1;
$textbox-colour: #d0c4df;
$textbox-hover-colour: #f3e2f3; //#fcfffd;
$drawer-colour: #c792df;
$darker-drawer-colour: #9d41c8;
$page-colour: #eaebeb; // dark mode colour: #333232;
$page-text-colour: black; //white

$video-colour: $drawer-colour;
$card-colour: $textbox-colour;
