$search_bar_height: 64px;
// $search-bar-colour: #355C7D;
$search-bar-colour:#55CCD4;
$textbox-colour: #76CED3;
$textbox-hover-colour: #71CBCE;
// $drawer-colour: #6C5B7B;
$drawer-colour: #FC4970;
// $video-colour: #6C5B7B;
$video-colour: #FC4970;
// $page-colour: #F8B195;
$page-colour: #FFB68D;

$card-colour: #C7DAC7;