.Table {
  width: 80%;
  border-spacing: 0px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
}

.Cell {
  border: 1px solid #f4f6f8;
  padding: 4px;
  text-align: left;
}

.add-to-playlist-list {
  padding: 12px;
}

.loading {
  position: absolute;
  top: 20vh;
  left: 50%;
}

.table-toolbar {
  display: flex;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  margin-bottom: 12px;
  padding: 12px;
}

.table-toolbar-selected {
  display: flex;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  background-color: #dccfec;
  margin-bottom: 12px;
  padding: 12px;
}

.table-toolbar-title {
  font-size: 26px;
  font-weight: bold;
}

.table-toolbar-multi-actions {
  display: flex;
  align-items: center;
}

.table-toolbar-button {
  margin-left: 12px;
  height: 36px;
}

.table-container {
  height: calc(100% - 88px);
  overflow-y: auto;
}
