.gsearch {  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;

    .gsearch-blank {  
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content : center;
        height: 100%;
    }

    .gsearch-row {  
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

        .gsearch-song {  
            width: 100%;
        }
        .gsearch-artist {  
            width: 100%;
        }
        .gsearch-album {  
            width: 100%;
        }
        .gsearch-playlist {  
            width: 100%;
        }
    }
}
  