.drawer-list-item {
  &:hover {
    cursor: pointer;
  }
}

.drawerOpen {
  width: 200px;
  .paper {
    background-color: #a997df;
    width: 200px;
  }
}
.drawerClosed {
  overflow-x: hidden;
  width: 56px;
  .paper {
    background-color: #a997df;
    width: 56px;
  }
}

.drawer-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 64px;

  .drawer-toggle {
    height: 48px;
  }
}
