.drawer-list-item {
  &:hover {
    cursor: pointer;
  }
}

.drawerOpen {
  width: 224px;
  height: 100vh;
  .paper {
    background-color: #a997df;
    width: 224px;
  }
}
.drawerClosed {
  width: 56px;
  height: 100vh;
  .paper {
    background-color: #a997df;
    width: 56px;
    overflow-x: hidden;
  }
}

.drawer-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 64px;
  padding-right: 4px;
  .drawer-toggle {
    height: 48px;
  }
}

.popover-container {
  padding: 12px;
  max-width: 200px;
  text-align: center;

  .popover-buttons {
    padding-top: 12px;
    display: flex;
    justify-content: space-evenly;
  }
}

.list {
  height: 100%;
  box-sizing: border-box;
}

.playlist-items-container {
  background-color: #a997df;
  overflow-y: auto;
  height: calc(100% - 376px);
}
