.playlist-creator-container {
    display: flex;
    flex-direction: column;

    .creator-title {
        font-size: 50px;
    }
}

.creator-textfield-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .creator-nameInput {
        display: flex;
        flex-direction: row;

        .creator-text {
            // margin-right: 20px;
            width: 300px;
        }
    
        .creator-button {
            font-size: 16px;
        }
    }
}

.creator-playlists{
    margin-top: 20px;
}

.no-playlist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    height: 100%;

    .no-playlist-icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        background-color:#dbdbdb;
        border-radius: 50%;
    }

    .no-playlist-title{
        font-size: 26px;
        margin: 35px 0px;
    }
}