.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #dccfec;
  width: 100%;
  height: 64px;
}

.search-button {
  padding-left: 10px;
}

.search-color {
  color: #2f4c4c;
}
