@import "constants";

.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: $search_bar_height;
}

.search-appbar {
  width: 100%;
  justify-content: space-around;
}

.search-toolbar {
  background-color: $search-bar-colour;
}

.search-button {
  padding-left: 10px;
}

.search-color {
  color: #2f4c4c;
}

.search-component {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

  .search-box {
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    background-color: $textbox-colour;
    &:hover {
      background-color: $textbox-hover-colour;
    }
    align-items: center;
    width: 50%;
    max-width: 15em;

    .search-icon {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 5px;
    }
    .search-input {
      padding-left: 10px;
      width: 100%;
    }
  }

  .controls {
    margin-left: auto
  }
}


